
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Loading...</title>
<style> 
{style}
</style>
 </head>
  <body>
<div class='maxCenter'>
		  <h1 style='font-family:monospace;text-align:center;color:white;font-size:40px'>Loading...</h1>
<div class="hover">
  <img width=200 src='https://media.discordapp.net/attachments/758726391495000104/779145290347184148/97d72f9647dbe3ed61c585d7ce9947bf.png'></img>
  
</div>
<!--<div class="loader"></div>-->

</div>
    <script>
            {javascript}

    </script>
  </body>
</html>